span .md-button {
  margin: 0;
}

.md-button:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0);
}

.brand {
  text-align: center;
  margin: 50px
}

.capInput {
  text-transform: capitalize;
}

.centerText {
  text-align: center;
}

#appLogo {
  font-weight: bold;
}

.fltLft {
  float: left;
}

.fltLft img {
  height: 60px;
  padding: 3px;
}

.remLftPad {
  padding-left: 0;
}

#logOut {
  position: absolute;
  top: 5px;
  right: 0;
}

#navMenu {
  position: absolute;
  top: 5px;
  right: 0;
}

.searchBox {
  position: absolute;
  top: 119px;
  right: 254px;
}

.goBtn {
  position: absolute;
  top: 135px;
  right: 211px;
}

.pgHead {
  margin: 15px 0px 15px 0px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 72px;
  /* color: #5abc56; */
  color: #4CAF50;
}

.leftText {
  text-align: left;
}

.inputCon {
  margin: 0;
}

#inputArea {
  /* background-color: #f3f3f3; */
  border-left: 5px solid #4CAF50;
  border-right: 5px solid #4CAF50;
  border-bottom: 5px solid #4CAF50;
}

.blueButton {
  background-color: #2196F3;
}

.recipeDialog {
  min-height: 200px;
  min-width: 300px;
  max-height: 800px;
  max-width: 800px;
}

#recipeContainer {
  height: 400px;
  width: 100%;
  max-width: 800px;
}

.recipeBox {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  max-width: 300px;
}

.recipeImg {
  /* height: 40%; */
  /* clip-path: inset(0px, 100px, 100px, 20px); */
  /* object-fit: cover; */
  /* overflow: hidden; */
  /* float: right; */
  width: 40%;
  /* border-radius: 50%; */
}

#recipeContent {
  padding-left: 30px;
  padding-right: 30px;
}

#horizontal-container {
  height: 500px;
  width: 100%;
  /* max-width: 830px; */
}

#outer {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

#middle {
  width: 450px;
  height: 225px;
}

.repeated-item {
  display: inline-block;
  height: 490px;
  text-align: center;
  min-width: 400px;
  max-width: 450px;
  margin: 20px;
  position: relative;
}

#endDiv {
  width: 30px;
  height: 500px;
}

#fltLft {
  /* float: left; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.mrgnTp {
  margin-top: 5px;
  margin-right: 8px;
}

.scrollDiv {
  overflow: scroll;
  /* height: 237px; */
  height: 243px;
  text-align: left;
}

.md-chips {
  box-shadow: 0 0px !important;
}

/* #recipeList:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  width: 100%;
  height: 4em;
} */

/* .virtualRepeatdemoHorizontalUsage md-content {
  margin: 16px;
} */