span .md-button {
  margin: 0;
}

.md-button:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0);
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

a.aboutLink {
  text-decoration: none;
  color: #4CAF50;
}

div a ng-md-button {
  height: 64px;
  width: 64px;
}

#aboutHead {
  margin: 0;
}

.brand {
  margin: 12px;
}

.homeLogo {
  height: 142px;
  margin: 20px;
}

.homeLogoMob {
  height: 72px;
}

#noSearch {
  color: #4CAF50;
  font-size: 32px;
  text-align: center;
}

.capInput {
  text-transform: capitalize;
}

.centerText {
  text-align: center;
}

.centerText .md-raised {
  color: #4CAF50 !important;
}

#appLogo {
  font-weight: bold;
}

.fltLft {
  float: left;
}

.fltLft img {
  height: 60px;
  padding: 3px;
}

.logoImg {
  height: 48px;
  margin: 4px 0 0 4px;
}

.remLftPad {
  padding-left: 0;
}

#logOut {
  position: absolute;
  top: 5px;
  right: 0;
}

#navMenu {
  position: absolute;
  top: 5px;
  right: 0;
}

.searchBox {
  position: absolute;
  top: 119px;
  right: 254px;
}

.goBtn {
  position: absolute;
  top: 135px;
  right: 211px;
}

.pgHead {
  margin: 15px 0px 0px 0px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 72px;
  /* color: #5abc56; */
  color: #4CAF50;
}

.leftText {
  text-align: left;
}

.inputCon {
  margin: 0;
}

#inputArea {
  /* background-color: #f3f3f3; */
  border-left: 5px solid #4CAF50;
  border-right: 5px solid #4CAF50;
  border-bottom: 5px solid #4CAF50;
}

.blueButton {
  background-color: #2196F3;
}

.recipeDialog {
  min-height: 200px;
  min-width: 300px;
  max-height: 800px;
  max-width: 800px;
}

#recipeContainer {
  height: 400px;
  width: 100%;
  max-width: 800px;
}

.recipeBox {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  max-width: 300px;
}

.recipeImg {
  width: 40%;
}

#recipeContent {
  padding-left: 30px;
  padding-right: 30px;
}

#horizontal-container {
  height: 500px;
  width: 100%;
}

#outer {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

#middle {
  width: 450px;
  height: 225px;
}

.repeated-item {
  display: inline-block;
  height: 490px;
  text-align: center;
  min-width: 400px;
  max-width: 450px;
  margin: 20px;
  position: relative;
}

#endDiv {
  width: 30px;
  height: 500px;
}

#fltLft {
  /* float: left; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.mrgnTp {
  margin-top: 5px;
  margin-right: 8px;
}

.mrgnTp .md-headline {
  max-height: 102px;
  overflow: scroll;
}

.scrollDiv {
  overflow: scroll;
  /* height: 237px; */
  height: 243px;
  text-align: left;
}

.md-chips {
  box-shadow: 0 0px !important;
}

#headerImg {
  height: 80px;
}

.pinkLoad svg path {
  stroke: #f06292;
}

.favDiv .pinkLoad svg {
  position: absolute;
  overflow: visible;
  top: 7px;
  left: -15px;
}

md-card .pinkLoad svg {
  position: absolute;
  overflow: visible;
  top: 10px;
  left: 16px;
}

.favDiv .md-button {
  min-height: 20px;
}

.favDiv .md-button.md-icon-button {
  height: 30px;
  padding: 0;
}

.favDiv.flex-25 {
  min-height: 32px;
}

div.md-toolbar-tools {
  /* padding: 0; */
}

div.md-toolbar-tools .md-button {
  padding: 0;
  margin: 0;
  /* max-width: 30px; */
}

.pantryBtn.md-button {
  min-width: 1%;
}

.pantryBtn.md-icon-button.md-button {
  padding: 0;
  margin: 0;
}

.wrapList {
  word-wrap: break-word;
}

md-list-item.md-no-proxy,
md-list-item .md-no-style,
div.md-toolbar-tools {
  padding: 0 10px 0 10px;
}

md-input-container.md-block.searchBoxMobile {
  padding: 0;
  margin: 0;
  max-height: 30px;
}

#fltRgt {
  float: right;
}

.md-display-2.centerText {
  margin-bottom: 0;
}

.mobNav {
  padding: 4px;
}

.copyRight {
  margin: 30px 0 10px 0;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;
  /* make scrollbar transparent */
}