.brand {
  text-align: center;
  font-size: 82px;
  color: #5abc56;
  margin-top: 15px;
  margin-bottom: 15px;
}

.capInput {
  text-transform: capitalize;
}

.centerText {
  text-align: center;
}

#appLogo {
  font-weight: bold;
}

#logoDiv {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #5abc56;
  float: left;
  font-size: 50px;
  padding: 7px 0px 7px 7px;
}

#logOut {
  position: absolute;
  top: 5px;
  right: 0;
}

.pgHead {
  margin: 15px 0px 15px 0px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 72px;
  color: #5abc56;
}

.leftText {
  text-align: left;
}

.inputCon {
  margin: 0;
}

#pantryTbody tr {
  height: 64px;
}

.inputRow {
  border-left: 1px solid #4CAF50;
  border-right: 1px solid #4CAF50;
}

#inputArea {
  background-color: #f3f3f3;
}

.blueButton {
  background-color: #2196F3;
}

.recipeDialog {
  min-height: 200px;
  min-width: 300px;
  max-height: 800px;
  max-width: 800px;
}