<div class="fltLft">
  <img src="../../images/Fresh-List-Logo.png">
</div>
<md-content class="md-padding remLftPad">
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="/pantry" name="pantry">
      Pantry
    </md-nav-item>
    <md-nav-item md-nav-href="/recipes" name="recipes">
      Saved
    </md-nav-item>
    <md-nav-item md-nav-href="/discover" name="discover">
      Discover
    </md-nav-item>
    <md-nav-item md-nav-href="/support" name="support">
      Support
    </md-nav-item>
  </md-nav-bar>
</md-content>
