<md-dialog aria-label="Suggested Recipes">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Suggested Recipes</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="cancel" style="fill: rgb(255, 255, 255)"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="recipeDialog" ng-hide="recipeObject.suggested.length>1">
    <div flex layout="row" layout-sm="column" layout-align="center center" aria-label="wait">
      <md-progress-circular md-mode="indeterminate" style="margin-top:40px"></md-progress-circular>
    </div>
  </md-dialog-content>
  <md-dialog-content class="recipeDialog" ng-show="recipeObject.suggested.length>1">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Recipe {{$index+1}}" md-on-select="selectedTab=$index" ng-repeat="recipe in recipeObject.suggested | limitTo:5">
        <md-content class="md-padding">
          <div layout="row">
            <div flex="65" layout="row" layout-align="start center">
              <h1 class="md-display-2">{{recipe.label}}</h1>
            </div>
            <div flex="5">
            </div>
            <div flex layout="column" layout-align="start end">
              <div flex="20">
                <md-button class="md-icon-button" ng-click="favorite(recipe)" class="favIcon" ng-hide="recipe.saved || $scope.recipeObject.loading">
                  <md-tooltip md-direction="left">Add to Favorites</md-tooltip>
                  <ng-md-icon icon="favorite_border" style="fill: #f06292"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="unFavorite(recipe.uri)" class="favIcon" ng-show="recipe.saved" ng-hide="$scope.recipeObject.loading">
                  <md-tooltip md-direction="left">Remove from Favorites</md-tooltip>
                  <ng-md-icon icon="favorite" style="fill: #f06292"></ng-md-icon>
                </md-button>
                <md-progress-circular ng-show="$scope.recipeObject.loading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
              </div>
              <div flex>
                <p>&nbsp&nbsp View Recipe:<br>
                  <md-button class="md-primary" ng-href="{{recipe.url}}" target="_blank">
                    <md-tooltip md-direction="left">Opens Recipe Site in New Tab</md-tooltip>
                    {{recipe.source}} <ng-md-icon icon="exit_to_app" style="fill: #4CAF50"></ng-md-icon>
                  </md-button>
                </p>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <md-list>
                <p>Ingredients:&nbsp</p>
                <md-list-item  class="md-1-line" ng-repeat="thing in recipe.ingredientLines">{{thing}}</md-list-item>
              </md-list>
            </div>
            <div flex="50" layout="row" layout-align="center start">
              <img class="suggestImg" ng-src="{{recipe.image}}">
            </div>
          </div>
          <md-list>
            <md-list-item class="md-1-line" ng-show="recipe.dietLabels.length>0">
              <p>Dietary Info:&nbsp
                <span ng-repeat="diet in recipe.dietLabels">{{diet}} </span>
              </p>
            </md-list-item>
            <md-list-item class="md-1-line" ng-show="recipe.healthLabels.length>0">
              <p>Health Info:&nbsp</p>
              <md-chips ng-model="recipe.healthLabels" readonly="true">
                <md-chip-template>{{$chip}}</md-chip-template>
              </md-chips>
            </md-list-item>
            <!-- <md-list-item>
              <div id="edamam-badge" data-color="transparent"></div>
            </md-list-item> -->
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>

  <!-- <md-dialog-actions layout="row">
    <md-button ng-click="pc.saveRecipe" target="_blank" md-autofocus>
      Save Recipe
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')">
      Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" style="margin-right:20px;">
      Useful
    </md-button>
  </md-dialog-actions> -->
</md-dialog>