<section layout="column" layout-align="center center" layout-padding lass="brand">
  <img hide show-gt-xs class="homeLogo" src="../../images/logo.png">
  <img hide show-xs class="homeLogoMob" src="../../images/logo.png">
  <md-content layout="row">
    <div hide show-gt-sm flex="20"></div>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <h2 id="aboutHead">About the app</h2>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          FreshList was created to remedy the issue of wasted and expired groceries. With it you can store your various food items
          which are sorted chronologically by their expiration date. It also pulls from the Edamam recipe API to offer suggestions
          on what to cook with your ingredients, and allows you to search for any recipe that you desire.
          <br>
          <br>The app was created during my time at Prime Digital Academy as part of my solo project in which we were tasked
          with using a web app to solve a problem. I built this app using JavaScript, MongoDB, Express.js, AngularJS, Node.js,
          Passport, Angular Material, and the Edamam Recipe API. I hope you enjoy using it! If you have any questions or
          comments feel free to contact me via the social links below.
          <br>
          <br>Best Regards,
          <br>Cam Schnackel
        </p>
        <div layout="row" layout-align="space-around center">
          <a href="https://github.com/camschnackel/" target="_blank">
            <img src="../../images/github.png">
          </a>
          <a href="https://www.linkedin.com/in/camschnackel/" target="_blank">
            <img src="../../images/linkedin.png">
          </a>
          <a href="https://twitter.com/CSchnackel" target="_blank">
            <img src="../../images/twitter.png">
          </a>
        </div>
      </md-card-content>
    </md-card>
    <div hide show-gt-sm flex="20"></div>
  </md-content>
</section>