<div ng-include="'views/partials/nav.html'"></div>
<md-button class="md-raised md-warn" id="logOut" ng-click="pc.userService.logout()">Log Out {{pc.userObject.name}}</md-button>
<h1 class="pgHead">Pantry</h1>
<section layout="row" ng-init="pc.getFood()">
  <div flex="15"></div>
  <div flex>
    <md-card layout-padding>
      <table id="pantryTable" width="100%">
        <thead>
          <th id="smTh">Qty</th>
          <th id="lgTh">Name</th>
          <th id="smTh">Expires</th>
          <!-- <th id="smTh"><md-button class="md-raised">Sort</md-button></th> -->
          <th id="smTh">
            <md-input-container>
              <label>Sort</label>
              <md-select ng-model="pc.sortMethod" ng-change="pc.sort()">
                <md-option ng-value="date">
                  Date
                </md-option>
                <md-option ng-value="name">
                  Name
                </md-option>
              </md-select>
            </md-input-container>
          </th>
          <th id="smTh">
            <md-button class="md-raised md-primary" ng-click="pc.addToggle=true; pc.cancelEdit()" ng-show="!pc.addToggle">+</md-button>
            <md-button class="md-raised md-warn" ng-click="pc.addToggle=false" ng-show="pc.addToggle">Cancel</md-button>
          </th>
        </thead>
        <tbody id="pantryTbody">
          <tr ng-show="pc.addToggle">
            <form name="foodForm">
              <td class="inputTd">
                <md-input-container class="inputCon">
                  <input md-maxlength="20" required="" name="qtyField" ng-model="pc.pantryAdd.qty">
                </md-input-container>
              </td>
              <td class"inputTd">
                <md-input-container class="inputCon">
                  <input md-maxlength="50" required="" name="nameField" ng-model="pc.pantryAdd.name">
                </md-input-container>
              </td>
              <td class"inputTd">
                <md-input-container class="inputCon">
                  <md-datepicker valid="" md-hide-icons="calendar" required="" name="dateField" ng-model="pc.pantryAdd.expiry"></md-datepicker>
                </md-input-container>
              </td>
              <td class="inputTd" colspan="2">
                  <md-button class="md-raised md-primary" ng-click="pc.addToggle=false; pc.addItem()" type="submit" name="submit">Add to Pantry</md-button>
              </td>
            </form>
          </tr>
          <tr ng-repeat="food in pc.foodObj.food">
            <form name="foodForm" ng-submit="pc.SaveEditItem()">
              <td ng-hide="pc.editToggle === $index">{{food.qty}}</td>
              <td ng-show="pc.editToggle === $index">
                <md-input-container class="inputCon">
                  <label>{{food.qty}}</label>
                  <input md-maxlength="20" required="" name="qtyField" ng-model="pc.pantryEdit.qty">
                  <!-- ng-value="food.qty" -->
                </md-input-container>
              </td>
              <td ng-hide="pc.editToggle === $index">{{food.name}}</td>
              <td ng-show="pc.editToggle === $index">
                <md-input-container class="inputCon">
                  <label>{{food.name}}</label>
                  <input md-maxlength="50" required="" name="qtyField" ng-model="pc.pantryEdit.name">
                </md-input-container>
              </td>
              <td ng-hide="pc.editToggle === $index">{{food.expiry}}</td>
              <td ng-show="pc.editToggle === $index">
                <md-input-container class="inputCon">
                  <label>{{food.expiry}}</label>
                  <md-datepicker valid="" md-hide-icons="calendar" required="" name="dateField" ng-model="pc.pantryEdit.expiry"></md-datepicker>
                </md-input-container>
              </td>
              <td ng-hide="pc.editToggle === $index"><md-button class="md-raised" ng-click="pc.editToggle = $index">Edit</md-button></td>
              <td ng-show="pc.editToggle === $index">
                <md-button class="md-raised md-primary" type="submit" name="submit" ng-click="pc.editFood(food.name)">Confirm</md-button>
              </td>
              <td ng-hide="pc.editToggle === $index"><md-button class="md-raised md-warn" ng-click="pc.deleteFood(food.name)">Delete</md-button></td>
              <td ng-show="pc.editToggle === $index">
                <md-button class="md-raised md-warn" ng-click="pc.editToggle = -1">Cancel</md-button>
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </md-card>
  </div>
  <div flex="15"></div>
</section>
