<div ng-include="'views/partials/nav.html'"></div>
<md-input-container hide show-gt-md class="md-block searchBox" flex-gt-sm="" md-no-float="true">
  <input name="search" type="string" ng-model="pc.query" md-no-asterisk="true" md-no-resize="true" placeholder="Search Your Pantry">
</md-input-container>
<md-button hide show-gt-md class="md-icon-button goBtn" ng-click="">
  <ng-md-icon icon="search"></ng-md-icon>
  <md-tooltip md-direction="top">Instant search is enabled</md-tooltip>
</md-button>
<md-button hide show-gt-sm class="md-raised md-warn" id="logOut" ng-click="pc.userService.logout()">
  <ng-md-icon icon="logout"></ng-md-icon> Log Out {{pc.userObject.name}}
</md-button>
<md-button hide show-xs show-sm class="md-raised md-warn" id="logOut" ng-click="pc.userService.logout()">
  Logout
</md-button>
<div hide show-gt-xs class="pgHead">
  <img id="headerImg" src="../../../images/pantry.png">
</div>
<div hide show-xs show-sm show-md layout="row" layout-align="center center" ng-show="pc.mobileSearch">
  <md-input-container class="md-block searchBoxMobile" md-no-float="true">
    <input name="search" type="string" ng-model="pc.query" md-no-asterisk="true" md-no-resize="true" placeholder="Search Your Pantry">
  </md-input-container>
  <md-button class="md-icon-button" ng-click="">
    <ng-md-icon icon="search"></ng-md-icon>
    <md-tooltip md-direction="top">Instant search is enabled</md-tooltip>
  </md-button>
</div>
<section layout="row" ng-init="pc.getFood()">
  <div hide show-gt-md flex="15"></div>
  <div flex>
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
          <div class="leftText" flex="15">
            <md-button class="pantryBtn" ng-show="pc.sortMethod!=='qty'" ng-click="pc.sort('qty')">Qty</md-button>
            <md-button class="pantryBtn" ng-show="pc.sortMethod=='qty' && pc.reverse == true" ng-click="pc.sort('qty')">Qty
              <ng-md-icon icon="keyboard_arrow_up" style="fill: green"></ng-md-icon>
            </md-button>
            <md-button class="pantryBtn" ng-show="pc.sortMethod=='qty' && pc.reverse == false" ng-click="pc.sort('qty')">Qty
              <ng-md-icon icon="keyboard_arrow_down" style="fill: green"></ng-md-icon>
            </md-button>
          </div>
          <div class="leftText" flex="30" flex-gt-xs="50">
            <md-button class="pantryBtn" ng-show="pc.sortMethod!=='name'" ng-click="pc.sort('name')">Name</md-button>
            <md-button class="pantryBtn" ng-show="pc.sortMethod=='name' && pc.reverse == true" ng-click="pc.sort('name')">Name
              <ng-md-icon icon="keyboard_arrow_up" style="fill: green"></ng-md-icon>
            </md-button>
            <md-button class="pantryBtn" ng-show="pc.sortMethod=='name' && pc.reverse == false" ng-click="pc.sort('name')">Name
              <ng-md-icon icon="keyboard_arrow_down" style="fill: green"></ng-md-icon>
            </md-button>
          </div>
          <div class="leftText" flex="25" flex-gt-xs="15">
            <md-button class="pantryBtn" ng-show="pc.sortMethod!=='dif'" ng-click="pc.sort('dif')">Expiry</md-button>
            <md-button class="pantryBtn" ng-show="pc.sortMethod=='dif' && pc.reverse == true" ng-click="pc.sort('dif')">Expiry
              <ng-md-icon icon="keyboard_arrow_up" style="fill: green"></ng-md-icon>
            </md-button>
            <md-button class="pantryBtn" ng-show="pc.sortMethod=='dif' && pc.reverse == false" ng-click="pc.sort('dif')">Expiry
              <ng-md-icon icon="keyboard_arrow_down" style="fill: green"></ng-md-icon>
            </md-button>
          </div>
          <div layout="row" layout-align="space-around center" flex="30" flex-gt-xs="20">
            <md-button hide show-gt-md class="md-raised" ng-click="pc.addToggle=true; pc.cancelEdit()" ng-show="!pc.addToggle">
              New
              <ng-md-icon icon="add_circle_outline"></ng-md-icon>
            </md-button>
            <md-button hide show-xs show-sm show-md class="md-icon-button pantryBtn" ng-click="pc.addToggle=true; pc.cancelEdit()" ng-show="!pc.addToggle">
              <md-tooltip md-direction="bottom">New Item</md-tooltip>
              <ng-md-icon icon="add_circle_outline" style="fill: rgb(251, 251, 251)"></ng-md-icon>
            </md-button>
            <md-button hide show-xs show-sm show-md class="md-icon-button pantryBtn" ng-click="pc.mobileSearch = !pc.mobileSearch" ng-show="!pc.addToggle">
              <md-tooltip md-direction="bottom">Toggle Search</md-tooltip>
              <ng-md-icon icon="search" style="fill: rgb(251, 251, 251)"></ng-md-icon>
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <md-content>
        <md-list>
          <form name="foodAddForm" ng-submit="pc.addItem()">
            <md-list-item id="inputArea" class="md-2-line" layout="row" ng-show="pc.addToggle">
              <div flex="15" class="md-list-item-text">
                <md-input-container class="inputCon">
                  <input md-maxlength="20" name="qtyField" ng-model="pc.pantryAdd.qty" required>
                </md-input-container>
              </div>
              <div flex="30" flex-gt-xs="50" class="md-list-item-text">
                <md-input-container class="inputCon">
                  <input md-maxlength="50" name="nameField" ng-model="pc.pantryAdd.name" required>
                </md-input-container>
              </div>
              <div flex="25" flex-gt-xs="15" class="md-list-item-text">
                <md-input-container class="inputCon">
                  <md-datepicker valid="" md-hide-icons="calendar" name="dateField" ng-model="pc.pantryAdd.expiry" required></md-datepicker>
                </md-input-container>
              </div>
              <div flex="30" flex-gt-xs="20" class="md-list-item-text" layout="row" layout-align="space-around center">
                <md-button class="md-icon-button pantryBtn" type="submit">
                  <md-tooltip md-direction="bottom">Add to Pantry</md-tooltip>
                  <ng-md-icon icon="add_circle" style="fill: #4CAF50"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button pantryBtn" ng-click="pc.addToggle=false" ng-show="pc.addToggle">
                  <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                  <ng-md-icon icon="cancel" style="fill: #F44336"></ng-md-icon>
                </md-button>
              </div>
            </md-list-item>
          </form>
          <form name="foodEditForm" ng-repeat="food in pc.foodObj.food | orderBy:pc.sortMethod:pc.reverse | filter:pc.query" ng-submit="pc.editFood(food.name)">
            <md-list-item class="md-2-line wrapList" layout="row">
              <div ng-hide="pc.editToggle === $index" flex="15" class="md-list-item-text">{{food.qty}}</div>
              <div ng-show="pc.editToggle === $index" flex="15" class="md-list-item-text">
                <md-input-container class="inputCon">
                  <label>{{food.qty}}</label>
                  <input md-maxlength="20" name="qtyField" ng-model="pc.pantryEdit.qty" required>
                </md-input-container>
              </div>
              <div ng-hide="pc.editToggle === $index" flex="30" flex-gt-xs="50" class="md-list-item-text">{{food.name}}</div>
              <div ng-show="pc.editToggle === $index" flex="30" flex-gt-xs="50" class="md-list-item-text">
                <md-input-container class="inputCon">
                  <label>{{food.name}}</label>
                  <input md-maxlength="50" name="nameField" ng-model="pc.pantryEdit.name" required>
                </md-input-container>
              </div>
              <div ng-hide="pc.editToggle === $index" flex="25" flex-gt-xs="15" class="md-list-item-text">{{food.expiry}}</div>
              <div ng-show="pc.editToggle === $index" flex="25" flex-gt-xs="15" class="md-list-item-text">
                <md-input-container class="inputCon">
                  <label>{{food.expiry}}</label>
                  <md-datepicker valid="" md-hide-icons="calendar" name="dateField" ng-model="pc.pantryEdit.expiry" required></md-datepicker>
                </md-input-container>
              </div>
              <div ng-hide="pc.editToggle === $index" flex="30" flex-gt-xs="20" class="md-list-item-text" layout="row" layout-align="space-around center">
                <md-button class="md-icon-button pantryBtn" ng-click="pc.suggestDialog($event, food.name)">
                  <md-tooltip md-direction="bottom">Recipe Suggestion</md-tooltip>
                  <ng-md-icon icon="restaurant" style="fill: #FF9800"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button pantryBtn" ng-click="pc.editToggle = $index">
                  <md-tooltip md-direction="bottom">Edit</md-tooltip>
                  <ng-md-icon icon="mode_edit" style="fill: #2196F3"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button pantryBtn" ng-click="pc.deleteFood(food._id)">
                  <md-tooltip md-direction="bottom">Delete</md-tooltip>
                  <ng-md-icon icon="delete" style="fill: #F44336"></ng-md-icon>
                </md-button>
              </div>
              <div ng-show="pc.editToggle === $index" flex="30" flex-gt-xs="20" class="md-list-item-text" layout="row" layout-align="space-around center">
                <md-button class="md-icon-button pantryBtn" type="submit">
                  <md-tooltip md-direction="bottom">Save Changes</md-tooltip>
                  <ng-md-icon icon="save" style="fill: #4CAF50"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button pantryBtn" ng-click="pc.editToggle = -1">
                  <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                  <ng-md-icon icon="cancel" style="fill: #F44336"></ng-md-icon>
                </md-button>
              </div>
            </md-list-item>
          </form>
        </md-list>
      </md-content>
    </md-card>
  </div>
  <div hide show-gt-md flex="15"></div>
</section>
<div ng-include="'views/partials/copyright.html'"></div>