<div ng-include="'views/partials/nav.html'"></div>
<md-button class="md-raised md-warn" id="logOut" ng-click="rc.userService.logout()">
  <ng-md-icon icon="logout"></ng-md-icon> Log Out {{rc.userObject.name}}</md-button>
<h1 class="pgHead">Recipes</h1>
<section layout-xs="column" layout="column">
  <md-content class="md-padding" layout="row">
    <!-- <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal> -->
      <!-- <div ng-repeat="recipe in rc.recipeObject.saved" class="repeated-item" md-item-size="20"> -->
        <md-card ng-repeat="recipe in rc.recipeObject.saved" class="repeated-item">
          <md-button class="md-icon-button" ng-click="favorite(recipe)" class="favIcon" id="fltLft" ng-hide="recipe.saved">
            <md-tooltip md-direction="top">Add to Favorites</md-tooltip>
            <ng-md-icon icon="favorite_border" style="fill: #f06292"></ng-md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="unFavorite(recipe.uri)" class="favIcon" id="fltLft" ng-show="recipe.saved">
            <md-tooltip md-direction="top">Remove from Favorites</md-tooltip>
            <ng-md-icon icon="favorite" style="fill: #f06292"></ng-md-icon>
          </md-button>
          <md-card-title>
            <md-card-title-text class="mrgnTp">
              <span class="md-headline">{{recipe.label}}</span>
              <span class="md-subhead">
                  <md-button class="md-primary" ng-href="{{recipe.url}}" target="_blank">
                    <md-tooltip md-direction="bottom">Opens Recipe Site in New Tab</md-tooltip>
                    {{recipe.source}}
                    <ng-md-icon icon="exit_to_app" style="fill: #4CAF50"></ng-md-icon>
                  </md-button>  
              </span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"><img ng-src="{{recipe.image}}" alt="Washed Out"></div>
            </md-card-title-media>
          </md-card-title>
          <!-- <img ng-src="{{recipe.image}}" class="recipeImg" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{recipe.label}}</span>
            </md-card-title-text>
          </md-card-title> -->
          <md-card-actions layout="row" layout-align="center center">
            <!-- <md-card-icon-actions>
              <md-button class="md-icon-button" aria-label="Favorite">
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
              </md-button>
            </md-card-icon-actions> -->
            <md-button>Ingredients</md-button>
            <md-button>Health Labels</md-button>
            <md-button>Diet Labels</md-button>
          </md-card-actions>
          <md-card-content style="padding: 5px">
            <div class="scrollDiv">
              <md-list id="recipeList">
                <md-list-item class="md-1-line" ng-repeat="thing in recipe.ingredientLines">{{thing}}</md-list-item>
              </md-list>
            </div>
          </md-card-content>
        </md-card>
      <!-- </div> -->
    <!-- </md-virtual-repeat-container> -->
  </md-content>
  <!-- <div hide show-gt-sm flex="15"></div>
  <md-virtual-repeat-container flex layout="" md-orient-horizontal id="recipeContainer">
    <md-card md-virtual-repeat="recipe in rc.recipeObject.saved" class="#recipeBox" flex>
      <img class="recipeImg" ng-src="{{recipe.image}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{recipe.label}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="Favorite">
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
          </md-button>
        </md-card-icon-actions>
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </md-virtual-repeat-container>
  <div hide show-gt-sm flex="15"></div> -->
</section>