<div ng-include="'views/partials/nav.html'"></div>
<md-input-container hide show-gt-md class="md-block searchBox" flex-gt-sm="" md-no-float="true">
  <input name="search" type="string" ng-model="rc.query" md-no-asterisk="true" md-no-resize="true" placeholder="Search Saved Recipes">
</md-input-container>
<md-button  hide show-gt-mdclass="md-icon-button goBtn" ng-click="">
  <ng-md-icon icon="search"></ng-md-icon>
</md-button>
<md-button hide show-gt-sm class="md-raised md-warn" id="logOut" ng-click="rc.userService.logout()">
  <ng-md-icon icon="logout"></ng-md-icon> Log Out {{rc.userObject.name}}
</md-button>
<md-button hide show-xs show-sm class="md-raised md-warn" id="logOut" ng-click="rc.userService.logout()">
  Logout
</md-button>
<!-- <h1 class="pgHead">Saved</h1> -->
<div  hide show-gt-xs class="pgHead">
  <img id="headerImg" src="../../../images/saved.png">
</div>
<div hide show-xs show-sm show-md layout="row" layout-align="center center">
  <md-input-container class="md-block searchBoxMobile" md-no-float="true">
    <input name="search" type="string" ng-model="rc.query" md-no-asterisk="true" md-no-resize="true" placeholder="Search Saved Recipes">
  </md-input-container>
  <md-button class="md-icon-button" ng-click="">
    <ng-md-icon icon="search"></ng-md-icon>
    <md-tooltip md-direction="top">Instant search is enabled</md-tooltip>
  </md-button>
</div>
<section layout="column">
  <md-content layout="row">
    <md-card ng-repeat="recipe in rc.recipeObject.saved | filter:rc.query" class="repeated-item" ng-hide="rc[$index]">
      <md-button class="md-icon-button" ng-click="rc.unFavorite(recipe.uri, $index)" class="favIcon" id="fltLft">
        <md-tooltip md-direction="top">Remove from Favorites</md-tooltip>
        <ng-md-icon icon="favorite" style="fill: #f06292"></ng-md-icon>
      </md-button>
      <md-card-title>
        <md-card-title-text class="mrgnTp">
          <span class="md-headline">{{recipe.label}}</span>
          <span class="md-subhead">
            <md-button class="md-primary" ng-href="{{recipe.url}}" target="_blank">
              <md-tooltip md-direction="bottom">Opens Recipe Site in New Tab</md-tooltip>
              {{recipe.source}}
              <ng-md-icon icon="exit_to_app" style="fill: #4CAF50"></ng-md-icon>
            </md-button>
          </span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img ng-src="{{recipe.image}}" alt="Washed Out">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout-align="space-around center">
          <md-button ng-click="rc.toggleIngredients($index)">
            <ng-md-icon icon="keyboard_arrow_right" ng-show="rc.recipeObject.saved[$index].toggleState.Ingredients"></ng-md-icon>Ingredients</md-button>
          <md-button ng-click="rc.toggleHealth($index)" ng-show="recipe.healthLabels.length>0">
            <ng-md-icon icon="keyboard_arrow_right" ng-show="rc.recipeObject.saved[$index].toggleState.Health"></ng-md-icon>Health Info</md-button>
          <md-button ng-click="rc.toggleDiet($index)" ng-show="recipe.dietLabels.length>0">
            <ng-md-icon icon="keyboard_arrow_right" ng-show="rc.recipeObject.saved[$index].toggleState.Diet"></ng-md-icon>Diet Info</md-button>
        </div>
      </md-toolbar>
      <md-card-content style="padding: 0">
        <div class="scrollDiv">
          <md-list id="recipeList" ng-show="rc.recipeObject.saved[$index].toggleState.Ingredients">
            <!-- <md-list-item class="md-1-line" ng-repeat="thing in recipe.ingredientLines track by $index" ng-init="rc.toggleIngredients($index)">{{thing}}</md-list-item> -->
            <md-list-item class="md-1-line" ng-repeat="thing in recipe.ingredientLines track by $index">{{thing}}</md-list-item>
          </md-list>
          <md-chips ng-model="recipe.healthLabels" readonly="true" ng-show="rc.recipeObject.saved[$index].toggleState.Health" layout="row" layout-align="space-around center">
            <md-chip-template>{{$chip}}</md-chip-template>
          </md-chips>
          <md-chips ng-model="recipe.dietLabels" readonly="true" ng-show="rc.recipeObject.saved[$index].toggleState.Diet">
            <md-chip-template>{{$chip}}</md-chip-template>
          </md-chips>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</section>